{
  "extends": ["@habx/client/typescript"],
  "plugins": [
    "graphql"
  ],
  "rules": {
    "graphql/no-deprecated-fields": [
      "error"
    ],
    "graphql/template-strings": [
      "error",
      {
        "validators": [
          "ExecutableDefinitions",
          "FieldsOnCorrectType",
          "FragmentsOnCompositeTypes",
          "KnownArgumentNames",
          "KnownDirectives",
          "KnownTypeNames",
          "LoneAnonymousOperation",
          "NoFragmentCycles",
          "NoUnusedVariables",
          "OverlappingFieldsCanBeMerged",
          "PossibleFragmentSpreads",
          "ScalarLeafs",
          "SingleFieldSubscriptions",
          "UniqueArgumentNames",
          "UniqueDirectivesPerLocation",
          "UniqueFragmentNames",
          "UniqueInputFieldNames",
          "UniqueOperationNames",
          "UniqueVariableNames",
          "ValuesOfCorrectType",
          "VariablesAreInputTypes",
          "VariablesInAllowedPosition"
        ]
      }
    ]
  }
}
