# Environment Configuration
.env

# Build output folders
public/

# Cache folders
.cache/

# Dependency directory
node_modules

# Debug log from npm
npm-debug.log

# IntelliJ IDE ignore
.idea

# GraphQL schema
schema.graphql
